{% extends 'layout.html' %}
{% block style %}
<style>
    #menubar{
        width: 878px;
        margin-left: 332px;
        width: 866px;
    }
    #site_content{
        width: 840px;
        padding-right: 0px;
        padding-top: 0px;
    }
    #footer{
        margin-left: 332px;
        width: 866px;
        padding-top: 20px;
    }
</style>
{% endblock %}
{% block title %}Cooking{% endblock %}
{% block content %}
    <div id="cook-top">
    <div id="cook-top-bg"></div>
        <div style="position: absolute; width: 100%; line-height: 400px;">
            <span style="vertical-align: center; padding-left: 20px"><h3 style="display: inline; text-align: center">Cooking with... </h3><h1 id="Gourdon">Gourdon Yamsay!</h1></span>
            <img id="gordon-pic" src="static/imgs/gordon.jpg">
        </div>
    </div>
    <br><br>
    <h2>Recipe of the month:</h2>
    <h3>Bitter Gourd tea</h3>
    <div style="width: 400px; float: left">
         <ul>
            <li>Wash and chop up the dried bitter gourd or leaves to get about 6-8 tablespoons.
            <li>Boil about 16oz (about 0.5L) of pure drinking water in a stainless steel pot, and add the dried bittergourd/leaves. If using fresh bittergourd, use about two cups of chopped up gourd for the same amount of water. Multiply the amount if making more.
            <li>Simmer at low to medium heat for about 10 minutes with the lid on.
            <li>Turn off fire, remove pot from stove and let steep for about 10 minutes.
            <li>Strain the leaves and pour tea into a vacuum flask.
            <li>Sip it warm throughout the day.
        </ul>
        Source: <a href="https://juicing-for-health.com/health-benefits-of-bittergourd-tea">juicing-for-health.com</a>
    </div>
    <div style="width: 400px; float: right;">
        <img style="max-width: 100%; height: auto" src="static/imgs/tea.jpg">
    </div>
{% endblock %}
