<!--
    Description:
        Html for the help page of the website. Describes how to use the site and answers potential questions.

    Known bugs:

    Author: Bram

    Last update: 02/06/2018
-->
<!-- Flask/Jinja template code-->
{% extends "layout.html" %}
{% block title %}Help{% endblock %}
{% block content %}
    <h1>
        Help page
    </h1>
    <p>
        On this page we will give an introduction to this application.<br>
        In the following steps we will give you an example on how to use the application.
    </p>
    <p>
        You will start on the homepage.<br>
        On this homepage you will see information about this project<br>
        The sunburst containing all data currently avialable is shown on the sunburst page<br>
        On the textmine page you will be able to input several keywords the application will use in order to function.<br>
        An example of these keywords are: "bitter gourd" and "weigth loss".<br>
        With these keywords the application will textmine for informative and/or relevant articles on Pubmed.<br>
        Once you are satisfied with your keywords you can hit the search button to start the application.<br>
        Once the application finishes a new sunburst will be available.<br>
        When you refresh the sunburst page the renewed sunburst will appear <br>
        This sunburst is interactive and the user can interact with it to look at the found information.<br>
        It contains an highlight function, which highlights the compounds and health effects that have a relation with eachother<br>
    </p>

    <p>
        <h3>Contact us!</h3>
        <table>
        <tr>
            <th>Name</th>
            <th>Team Role</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>Awan al Koerdi</td><td>Frontend Developer</td><td><a href="A.AlKoerdi@student.han.nl">A.AlKoerdi@student.han.nl</a></td>
        </tr>
        <tr>
            <td>Bram Weenink</td><td>Web Developer</td><td><a href="B.Weenink@student.han.nl">B.Weenink@student.han.nl</a></td>
        </tr>
            <tr>
            <td>Damian Bolwerk</td><td>Backend Developer, Database Engineer</td><td><a href="D.Bolwerk@student.han.nl">D.Bolwerk@student.han.nl</a> </td>
        </tr>
            <tr>
                <td>Mark de Korte</td><td>Backend Developer, Database Designer</td><td><a href="MJ.deKorte@student.han.nl">MJ.deKorte@student.han.nl</a></td>
            </tr>
            <tr>
                <td>Rogier Stegeman &nbsp</td><td>Web Developer, Web Design, Frontend Developer&nbsp</td><td><a href="mailto:RD.Stegeman@student.han.nl">RD.Stegeman@student.han.nl</a>&nbsp</td>
            </tr>
        </table>
    </p>

{% endblock %}