<!--
    Description:
        Html for the help page of the website. Describes how to use the site and answers potential questions.

    Known bugs:

    Author: Bram

    Last update: 02/06/2018
-->
<!-- Flask/Jinja template code-->
{% extends "layout.html" %}
{% block title %}Help{% endblock %}
{% block content %}
    <h1>
        Help page
    </h1>
    <p><br>
        On this page we will give an introduction to this application.<br>
        In the following steps we will give you an example on how to use the application.
    </p>

    <p> <b>Home page</b><br>
        The background information of the project is explained on this page. <br><br>

        <b>Sunburst</b><br>
        This page contains the visualisation. A sunburst is shown with multiple functions. When you double click on the sunburst, it will<br>
        zoom in. Click on the slice you want to know more of. With the highlight function corresponding words are shown. This makes it easier <br>
        to see what organisms share the same health effects or compounds. With the searchbox you can find words fast in the sunburst. This way <br>
        you don't have to look through the whole sunburst. When you click once on a slice, articles will be shown on the right size of the burst <br>
        in a table. In the table there are titles of articles that contains the health effect or compound where you've clicked on. The titles are <br>
        links to PubMed. <br><br>

        <b>Textminer</b><br>
        On this page you can execute textmining. Type a plant in the first searchbox. In the second searchbox type a health effect and give your<br>
        e-mail address. This will be used to notify the user if something goes wrong. Click on the "GoMine" button to start textmining. The keywords <br>
        will be used to go through articles on PubMed. When the keywords are found in the articles, these keywords and articles will be added to the <br>
        database. The output will be shown in the sunburst.<br><br>
    </p>



    <p>
        <h3>Contact us!</h3>
        <table>
        <tr>
            <th>Name</th>
            <th>Team Role</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>Awan al Koerdi</td><td>Frontend Developer</td><td><a href="mailto:A.AlKoerdi@student.han.nl">A.AlKoerdi@student.han.nl</a></td>
        </tr>
        <tr>
            <td>Bram Weenink</td><td>Web Developer</td><td><a href="mailto:B.Weenink@student.han.nl">B.Weenink@student.han.nl</a></td>
        </tr>
            <tr>
            <td>Damian Bolwerk</td><td>Backend Developer, Database Engineer</td><td><a href="mailto:D.Bolwerk@student.han.nl">D.Bolwerk@student.han.nl</a> </td>
        </tr>
            <tr>
                <td>Mark de Korte</td><td>Backend Developer, Database Designer</td><td><a href="mailto:MJ.deKorte@student.han.nl">MJ.deKorte@student.han.nl</a></td>
            </tr>
            <tr>
                <td>Rogier Stegeman &nbsp</td><td>Web Developer, Web Design, Frontend Developer&nbsp</td><td><a href="mailto:RD.Stegeman@student.han.nl">RD.Stegeman@student.han.nl</a>&nbsp</td>
            </tr>
        </table>
    </p>

{% endblock %}