{% extends "layout.html" %}
{% block title %}Help{% endblock %}

{% block content %}
    <h1>
        Help page
    </h1>
    <p>
        On this page we will give an introduction to this application.<br>
        In the following steps we will give you an example on how to use the application.
    </p>
    <p>
        You will start on the homepage.<br>
        On this homepage you will see information about this project<br>
        The sunburst containing all data currently avialable is shown on the sunburst page<br>
        On the textmine page you will be able to input several keywords the application will use in order to function.<br>
        An example of these keywords are: "bitter gourd" and "weigth loss".<br>
        With these keywords the application will textmine for informative and/or relevant articles on Pubmed.<br>
        Once you are satisfied with your keywords you can hit the search button to start the application.<br>
        Once the application finishes a new sunburst will be available.<br>
        This sunburst is interactive and the user interact with it to look at the found information.
    </p>
{% endblock %}