<!--
    Description:
        Html for the homepage of the website. Provides some background information.

    Known bugs:

    Author: Bram

    Last update: 02/06/2018
-->
<!-- Flask/Jinja template code-->
{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <div >

    <p>Bitter gourd (De sopropo, balsempeer, bittermeloen of paré) wordt in de traditionele
    kruidengeneeskunde gebruikt om verschillende kwalen te behandelen, zoals bijvoorbeeld
    diabetes. Om erachter te komen of deze claims waar zijn en om te kijken welke andere
    gezondheidsvoordelen bitter gourd of andere planten zoals yams (eetbare wortelknollen)
    hebben, zal er literatuuronderzoek gedaan moeten worden. Hierin zal ook gekeken worden naar
    welke delen van een plant voor een bepaalde gezondheidseffect zorgen en welke stoffen
    binnen een plant voor een bepaalde gezondheidseffect zorgen. Door de stoffen van
    verschillende planten te vergelijken kan er gekeken worden of ze een gemeenschappelijke stof
    bevatten die verantwoordelijk kan zijn voor een bepaalde gezondheidseffect die de planten
    hebben met deze stof. Deze stof kan dan bijvoorbeeld uit de plant geïsoleerd worden en zo kan
    er getest worden of de geïsoleerde stof ook daadwerkelijk de voorspelde werking heeft. Alleen
    bitter gourd heeft al 945 gepubliceerde artikelen op Pubmed.
    </p>
    </div>
{% endblock %}