{% extends "layout.html" %}

{% block title %}{% block title1 %}Home{% endblock %}{% block title2 %}page{% endblock %}{% endblock %}

{% block content %}
    <div >Homepage</div>
    <div >
    <p>Bitter gourd (De sopropo, balsempeer, bittermeloen of paré) wordt in de traditionele
    kruidengeneeskunde gebruikt om verschillende kwalen te behandelen, zoals bijvoorbeeld
    diabetes. Om erachter te komen of deze claims waar zijn en om te kijken welke andere
    gezondheidsvoordelen bitter gourd of andere planten zoals yams (eetbare wortelknollen)
    hebben, zal er literatuuronderzoek gedaan moeten worden. Hierin zal ook gekeken worden naar
    welke delen van een plant voor een bepaalde gezondheidseffect zorgen en welke stoffen
    binnen een plant voor een bepaalde gezondheidseffect zorgen. Door de stoffen van
    verschillende planten te vergelijken kan er gekeken worden of ze een gemeenschappelijke stof
    bevatten die verantwoordelijk kan zijn voor een bepaalde gezondheidseffect die de planten
    hebben met deze stof. Deze stof kan dan bijvoorbeeld uit de plant geïsoleerd worden en zo kan
    er getest worden of de geïsoleerde stof ook daadwerkelijk de voorspelde werking heeft. Alleen
    bitter gourd heeft al 945 gepubliceerde artikelen op Pubmed.
    </p>
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
        <!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
        <!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
        <!--consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
        <!--cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non-->
        <!--proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
    </div>
{% endblock %}