{% extends 'layout.html' %}
{% block title %}Sunburst graph{% endblock %}
{% block scripts %}
    <script>
function myFunction() {
    alert("dis1");
    svg.selectAll('path-12').style('fill', 'red');
    document.getElementById("path-11").style("fill", "blue");
    svg.selectAll('path-12').remove();
    document.getElementById("path-11").remove();
    document.getElementById("sunburst").remove();
    d3.select("path-13").style("color","#ff00ff");
}
</script>
{% endblock %}
{% block content %}

    <button onclick="test()">Click me</button>
    <form>
    <input type="text" value="Highlight">
    </form>

    <script src="https://d3js.org/d3.v3.min.js"></script>
        <div id="sunburst">
            <div id="vis"></div>
            <script src="{{ url_for('static', filename='js/burst.js') }}"></script>
        </div>
    <!--
    <button onClick="update();">Click to update rect elements using function(d, i)</button>
    <button onClick="update2();">Cli212121s using function(d, i)</button>
    -->
    <!-- old script
    <script>
        function update() {
            d3.selectAll('#path-12')
                .style("fill", "red");
            }
	</script>
	-->
    <!-- old script
    <script>
    function update2() {
        alert("wowowow");
        d3.selectAll("path").style("fill", "red")
            .on("mouseover", function () {
                d3.select(this)
                    .style("background-color", "orange");

                // Get current event info
                console.log(d3.event);
            })
            .on("mouseout", function () {
                d3.select(this)
                    .style("background-color", "steelblue")
            });
            }
        </script>
        -->
    </div>
    <script>

    function test(){
    d3.selectAll("path")
        .on("mouseover", function(){
            d3.select(this).style("fill","blue");
        });

    }
</script>

{% endblock %}