<!--
    Description:
        Html for the sunburst page of the website. This page is responsible for the visualisation of the gathered data.
        This is done via a sunburst diagram using the d3 library. The sunburst is made in a JavaScript file.
        Sunburst template acquired from: https://bl.ocks.org/kerryrodden/477c1bfb081b783f80ad

    Known bugs:

    Author: Rogier

    Last update: 02/06/2018
-->
<!-- Flask/Jinja template code-->
{% extends 'layout.html' %}
{% block title %}Sunburst graph{% endblock %}
{% block scripts %}
    <script>
function myFunction() {
    svg.selectAll('path-12').style('fill', 'red');
    document.getElementById("path-11").style("fill", "blue");
    svg.selectAll('path-12').remove();
    document.getElementById("path-11").remove();
    document.getElementById("sunburst").remove();
    d3.select("path-13").style("color","#ff00ff");
}
</script>
{% endblock %}
{% block content %}

    <div style="width: 200px" class="outer">
        <h1>
        Visualisation
    </h1>


        <form>
            <input type="text" value="Enter text" id="highlightWord" style="width: 200px">
            <!-- Deprecated -->
            <div style="display: flex; justify-content: space-between">
                <!--<input class="inner" id="highlight-button" type="button" value="Highlight" onclick="highlighter()" style="margin-top: 5px"> -->
                <input class="inner" id="highlightClear" type="button" value="Clear" onclick="highlighterClear()" style="margin: 5px 0px 0px 5px">
            </div>
            <!---->
        </form>
    </div>
    <!-- Importing the d3 library from d3js.org and calling the JavaScript file to construct the sunburst -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
        <div id="sunburst">
        <div id="article-field">
            <h2>Articles:</h2><br>
            <div id="article-field-list">
            </div>
            </div>
            <div id="vis"></div>
            <script src="{{ url_for('static', filename='js/burst.js') }}"></script>

        </div>
    <div style="width: 600px;">
     <p>
The first layer of the sunburst show different organisms. The second layer contains health effects en the third layer contains compounds.

<br><b><u>How to use:</u></b><br>

         <b>Zoom</b><br>
Double click on the sunburst .
<br>
         <b>Highlight</b>
         <ol>
    <li>Highlight by typing the word you’re looking for in the searchbox.</li>
    <li>Highlight by hoovering over the sunburst. The corresponding words wil get the yellow highlight color.</li>
</ol>


<b>Get articles</b>
Click a slice. The articles are shown on the right side of the page.
</p>
</div>
{% endblock %}