<!--
    Description:
        Html for the textmine page of the website. Takes user input and passes it on the the textmining script.

    Known bugs:

    Author: Bram

    Last update: 06/06/2018
-->
<!-- Flask/Jinja template code-->
{% extends "layout.html" %}
{% block title %}Textminer{% endblock %}
{% block content %}
    <h1>
        Input page
    </h1>
<!-- In this page the form action allows the information put in by the user to be passed on
    to the application. in the searchPlant, plant data will be transmitted. in the searchHealth health data will
    be transmitted. in the SearchMail the users mail will be transmitted for the Pubmed search.-->
    <center>
        <p>Please insert searchterms and your email.</p>
        <form action="Done" method="POST" name="sequentie_text" id="form1">
            <input type="text" name="searchPlant" value="plant">
            <input type="text" name="searchHealth" value="health_effect">
            <input type="text" name="searchMail" value="e-mail">
            <input type="submit" name="submitter" value="GoMine">
        </form>

{% endblock %}
