#home{
    color: #77006d;
}

#content{
    overflow: hidden;
    margin: 0 auto 0 auto;
    background: lightgray;
    border-left: solid 150px;
}

#content h1 p{
    color: #9C1A1C;
}

#sidebar{
    /*float: left;*/
    width: 150px;
    color: #177199;
    background-color: #9b3d34;
    /* height:100vh; */
    /*bottom: 0px;*/
    position: absolute;
    left: 0px;
}